<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img width=40% src="/public/images/icon/logo.png" alt="CoolAdmin">
                            </a>
                        </div>
                        <div class="login-form">
                            <form action="" method="post" id="loginForm">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="au-input au-input--full" type="email" name="email" placeholder="email">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input class="au-input au-input--full" type="password" name="password"
                                        placeholder="Password">
                                </div>
                                <button style="margin-top: 15px;" class="au-btn au-btn--block au-btn--green m-b-20"
                                    type="button" onclick="login()">Sign In</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        async function login() {
            const email = document.getElementsByName('email')[0].value;
            const password = document.getElementsByName('password')[0].value;

            try {
                const response = await fetch('https://newapihtbk-production.up.railway.app/api/auth/login/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ email, password }),
                });

                if (response.ok) {
                    const data = await response.json();
                    console.log('Đăng nhập thành công:', data);
                    localStorage.setItem('access_token', data.access_token);
                    window.location.href = 'table.html';
                } else {
                    console.error('Login failed', response);
                    alert('Tài khoản hoặc mật khẩu không đúng');
                }
            } catch (error) {
                console.error('Error during login:', error);
                alert('An unexpected error occurred. Please try again later.');
            }
        }
    </script>

    <!-- Jquery JS and other scripts -->
</body>