<body class="animsition">
    <div class="page-wrapper">
        <!-- Header Mobile -->
        <header class="header-mobile d-block d-lg-none">
            <!-- Your mobile header content -->
        </header>

        <!-- Menu Sidebar -->
        <aside class="menu-sidebar d-none d-lg-block">
            <!-- Your sidebar content -->
        </aside>

        <!-- Page Container -->
        <div class="page-container">
            <!-- Header Desktop -->
            <header class="header-desktop">
                <!-- Your desktop header content -->
            </header>
            <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="/public/images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active">
                            <a href="table.html">
                                <i class="fas fa-table"></i>Trang chủ</a>
                        </li>
                        <li>
                            <a href="chart.html">
                                <i class="fas fa-chart-bar"></i>Thống kê</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->


            <!-- Main Content -->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="row m-t-30">
                        <div class="col-md-12">
                            <center>
                                <h2 class="heading-home">Stay</h2>
                            </center>
                            <!-- Data Table -->
                            <div class="table-responsive m-b-40">
                                <table class="table table-borderless table-data3">
                                    <thead>
                                        <tr>
                                            <th class="table-row-name">Khách sạn</th>
                                            <th>Vị trí</th>
                                            <th>Địa chỉ</th>
                                            <th>Hình</th>
                                            <th>Quản lý</th>
                                        </tr>
                                    </thead>
                                    <tbody id="hotelRoomsTableBody">
                                        <!-- Dynamic content will be populated here -->
                                    </tbody>
                                </table>
                            </div>
                            <!-- End Data Table -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2023 Stay. All rights reserved. Template by <a href="https://colorlib.com">Stay</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Main Content -->
        </div>
        <!-- End Page Container -->
    </div>
    <!-- Your JavaScript scripts should be included here -->
</body>